@{
    @model CategoryBookViewModel
}
@{
    ViewData["Title"] = "صفحه اصلی";
}



<section class="hero">
    <h1>هر کتابی که می‌خواهی، اینجا هست</h1>
    <p>با پیش از صدها عنوان کتاب در دسته‌بندی‌های متفاوت، سفر شگفت‌انگیز خود را آغاز کنید</p>
    <button>مشاهده پرفروش‌ترین ها</button>
</section>

<div class="container">

    <h2 class="section-title">دسته‌بندی‌ها</h2>
    
    <div class="categories">
        <div class="category-card">
            <div class="category-icon">🎨</div>
            <div class="category-title">هنر و طراحی</div>
            <div class="category-subtitle">طراحی و خلاقیت</div>
        </div>
        <div class="category-card">
            <div class="category-icon">👑</div>
            <div class="category-title">تاریخ و جغرافیا</div>
            <div class="category-subtitle">معرفت تاریخی</div>
        </div>
        <div class="category-card">
            <div class="category-icon">🎓</div>
            <div class="category-title">فلسفه و روان‌شناسی</div>
            <div class="category-subtitle">عمیق تر اندیشید</div>
        </div>
        <div class="category-card">
            <div class="category-icon">💡</div>
            <div class="category-title">داستان و رمان</div>
            <div class="category-subtitle">سرگرم و جذاب</div>
        </div>
        <div class="category-card">
            <div class="category-icon">📚</div>
            <div class="category-title">پایان نامه و مقالات</div>
            <div class="category-subtitle">تحقیق و پژوهش</div>
        </div>
    </div>


    <h2 class="section-title">جدیدترین کتاب‌ها</h2>
    <div class="books">
        <div class="book-card">
            <div class="book-image">
                <img src="/img/book1.jpg" alt="Girl in a jacket" width="180" height="280">
            </div>
            <div class="book-info">
                <div class="book-title">نبرد من</div>
                <div class="book-author">آدولوف هیتلر</div>
                <div class="book-author">450 صفحه</div>
                <div class="book-price">750,000 ت</div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="/Img/b4.jpg" alt="Girl in a jacket" width="180" height="280">
            </div>
            <div class="book-info">
                <div class="book-title">هالیس‌دری گوبی</div>
                <div class="book-author">مارگارت اتوود</div>
                <div class="book-author">200 صفحه</div>
                <div class="book-price">380,000 ت</div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="/img/jomhor.jpg" alt="Girl in a jacket" width="180" height="280">
            </div>
            <div class="book-info">
                <div class="book-title">اصول رهبری هیوین</div>
                <div class="book-author">ریان هالیدی</div>
                <div class="book-author">200 صفحه</div>
                <div class="book-price">750,000 ت</div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="/Img/b2.jpg" alt="Girl in a jacket" width="180" height="280">
            </div>
            <div class="book-info">
                <div class="book-title">سفر به مریخ</div>
                <div class="book-author">اندی وییر</div>
                <div class="book-author">200 صفحه</div>
                <div class="book-price">620,000 ت</div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-image">
                <img src="/Img/b1.jpg" alt="Girl in a jacket" width="180" height="280">
            </div>
            <div class="book-info">
                <div class="book-title">آخرین قربانی</div>
                <div class="book-author">کارن کلیپاتریک</div>
                <div class="book-author">200 صفحه</div>
                <div class="book-price">490,000 ت</div>
            </div>
        </div>
    </div>
</div>